/*----------------
    Workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
  color: @workspaces;
}

#custom-right_div.1 {
  background-color: @accent;
}

#workspaces {
  padding: 0 1px;
  background-color: @workspaces;
}
#workspaces button.active label,
#workspaces button.focused label {
  color: @accent;
}

/*------------------
    mode title
------------------*/

#custom-mode {
  background-color: @accent;
  color: @main-bg;
  font-size: 17;
  padding: 2px 5px 2px 9px;
}
