/* ----------- Sherlock Intelligence Workstation -------- */
/* wlogout */

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(23, 27, 36, 0.92);
}

button {
  margin: 10px;
  border-radius: 15px 15px 15px 15px;

  border-color: #b08d57;

  text-decoration-color: #d6d2c4;
  color: #d6d2c4;

  background-color: #171b24;

  border-style: solid;
  border-width: 1px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: #2b3243;

  border-color: #c9b68d;

  color: #d6d2c4;

  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.svg"));
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}

#suspend {
  background-image: image(url("./icons/suspend.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}
